<main className="holder">
            <div className="Historia">
                <h2>Nuestra Historia</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, iure. Dicta qui perferendis temporibus, ad commodi dolore dolor, aliquid veniam eos, assumenda itaque incidunt quidem provident ut illum saepe explicabo!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quae nam blanditiis. In neque numquam delectus repellat hic temporibus voluptas praesentium sequi provident perspiciatis cumque minima ut, dolor dolorem suscipit.</p>
            </div>
            <div className="motovehiculos">
                <h2>Nuestros Motovehículos</h2>
                <div className="staff">
                    <div className="situacion">
                        <h5>Seguimiento GPS</h5>
                        <h6>Responsavilidad</h6>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia excepturi dolores neque nesciunt quibusdam, doloribus quam distinctio repellat voluptate accusamus, iusto voluptates id similique cupiditate voluptatem voluptas provident laboriosam delectus?</p>
                        <img src="img/er.png" alt="controles"/>
                    </div>
                    <div className="situacion">
                        <h5>Papeles Siempre al Día</h5>
                        <h6>Responsavilidad</h6>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia excepturi dolores neque nesciunt quibusdam, doloribus quam distinctio repellat voluptate accusamus, iusto voluptates id similique cupiditate voluptatem voluptas provident laboriosam delectus?</p>
                        <img src="img/MY543GY7DBHTTAZM2FMJHDTSZ4.jpg" alt="controles"/>
                    </div>                    
                    <div className="situacion">
                        <h5>Mantenimiento del motovehiculo al Día</h5>
                        <h6>Responsavilidad</h6>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia excepturi dolores neque nesciunt quibusdam, doloribus quam distinctio repellat voluptate accusamus, iusto voluptates id similique cupiditate voluptatem voluptas provident laboriosam delectus?</p>
                        <img src="img/Servicios/CC_2787259_e9e5e657720c4f81b0415761c2c6b90a_otros_que_fallo_mas_tonto_4.jpg" alt="controles"/>
                    </div>
                </div>
            </div>
        </main>