<main className="holder">
            <h2>Novedades</h2>
            <div className="novedades">
                <h3>Título</h3>
                <h4>Subtitulo</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In dolore quaerat sit optio, labore
                    deserunt obcaecati ut beatae nulla voluptates voluptatum. Eveniet facere cupiditate temporibus ad?
                    Aperiam vero laudantium cupiditate.</p>
                <span className="linea"></span>
                
            </div>
            
        </main>