<main className="holder">
            <h2>Nuestros Servicios</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas dignissimos illum laboriosam illo repellat consectetur eligendi perspiciatis consequatur numquam quidem hic, doloremque libero. Vero animi officia iusto iure! Nihil, animi.</p>
            <div className="Servicio">
                <img src="img/Servicios/alergias_ciudad_moto.jpg" alt="lluvia"/>
                <div className="info">
                    <h4>Dias de lluvia</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum fuga dolore fugit corporis quaerat hic aut, cum ratione necessitatibus odit eius officiis repellat est sequi ipsa accusantium similique assumenda esse?</p>
                </div>
            </div>
            <div className="Servicio">
                <img src="img/Servicios/Motos-Potentes-2020.jpg" alt="Largas Distancias"/>
                <div className="info">
                    <h4>Largas Distancias</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum fuga dolore fugit corporis quaerat hic aut, cum ratione necessitatibus odit eius officiis repellat est sequi ipsa accusantium similique assumenda esse?</p>
                </div>
            </div>
            <div className="Servicio">
                <img src="img/Servicios/Yamaha-MT-03-1.jpg" alt="Noche"/>
                <div className="info">
                    <h4>Viajes Nocturnos</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum fuga dolore fugit corporis quaerat hic aut, cum ratione necessitatibus odit eius officiis repellat est sequi ipsa accusantium similique assumenda esse?</p>
                </div>
            </div>
            <div className="Servicio">
                <img src="img/Servicios/star-MercadoFlex-banner-desktop-03.jpg" alt="Flex"/>
                <div className="info">
                    <h4>Envíos Flex</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum fuga dolore fugit corporis quaerat hic aut, cum ratione necessitatibus odit eius officiis repellat est sequi ipsa accusantium similique assumenda esse?</p>
                </div>
            </div>
        </main>